# Java / Gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary / Local installation files
gradle-8.8/
run/
